@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Raleway&family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "Josefin Sans", "Arial Narrow", Arial, sans-serif;
}

.deleteIcon {
  width: 0.7em;
  height: 0.7em;
}

.note {
  background-color: #f5ba13;
}

.btn:hover {
  background: transparent;
  color: #fff;
}
/*

.note {
  background-color: #fff;
}

.btn:hover  {
  background-color: #fff;
} */

.deleteIcon {
  background-color: #fff;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0%;
  text-align: center;
}

.note {
  position: relative;
  float: right;
  margin-right: 10px;
  color: grey;
  border: none;
  height: 140px;
  background: transparent;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 15px -10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  background: #fff;
  border-radius: 7px;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.btn {
  position: relative;
  float: right;
  margin-right: 10px;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  outline: none;
  box-shadow: 10px 3px 25px -10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  background: transparent;
  color: #f4b400;
}

.btn:hover {
  color: red;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.MuiButton-root:hover {
  background: transparent;
  color: #fff;
}

.MuiButton-root:hover {
  background-color: #f4b400;
}

.MuiButton-root {
  font-size: 45px;
  font-weight: 900;
  background-color: #f4b400;
  cursor: pointer;
  z-index: 222;
  background: transparent;
}

.plus_sign {
  font-size: 40px;
  font-weight: 900;
  cursor: pointer;
  z-index: 222;
  background: transparent;
  color: #f4b400;
}

.plus_sign:hover {
  background: transparent;
  color: #fff;
}

.MuiButton-root {
  width: 30px;
  height: 50px;
  bottom: -28px;
  position: absolute;
  left: 400px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

textarea {
  line-height: 30px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  margin: 10px 0;
}

input {
  line-height: 30px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: bold;
}

form {
  min-height: 50px;
  color: #ecf0f1;
  padding: 15px 10px 5px 10px;
  box-shadow: 3px 5px 15px -5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: relative;
}

.my_notes p {
  color: grey;
}

.my_notes {
  color: #34495e;
}

.main_note {
  width: 500px;
  padding: 15px 10px 5px 10px;
  margin: 20px auto;
}

.header {
  background-color: #f5ba13;
  display: flex;
  justify-content: start;
  align-items: center;
  border: none;
  width: 100%;
  line-height: 100px;
  padding-left: 50px;
  color: white;
  text-align: center;
  box-shadow: 5px 3px 15px -5px rgba(0, 0, 0, 0.3);
}

.main_heading {
  text-align: center;
  justify-content: center;
  display: flex;
  padding-left: 150px;
}
